

program_input=    prog1.asm
memory_contents_input= d a t a 1 . m e m o r y
register_file_input=register1.memory
#output_mode = single_step
output_mode = batch
 debug_mode = false
#debug_mode = true
print_memory_contents= true
#print_memory_contents= false
output_file=file1.output
write_to_file=true
